<tabset class="course-registration">

	<!-- Tab -->
    <tab heading="Course Info">

    	<!-- Left Content -->
    	<div class="left-content layer pull-left">
    		<h2 class="section-title">Due Details</h2>

            <form accept-charset="utf-8" class="course-registration-form">
                <label>
                    <span>Registration No#</span>
                    <input type="text" name="" class="form-control" ng-model="regNumber" placeholder="KAN/B-06770">
                </label>

                <label>
                    <span>ID Number</span>
                    <input type="text" name="" class="form-control" ng-model="idNumber" placeholder="891600909V">
                </label>

                <label>
                    <span>Find your course</span>
                    <input type="text" name="" class="form-control" ng-model="course" placeholder="Higher National Diploma">
                </label>

                <label>
                    <span>Registration Type</span>
                    <input type="text" name="" class="form-control" ng-model="regType" placeholder="HNDIT">
                </label>

                <label>
                    <span>Select Batch</span>
                    <input type="text" name="" class="form-control" ng-model="batch" placeholder="HND-CL/05">
                </label>
            </form>

        </div><!-- // Left Content -->

    	<!-- Right Content --> 
    	<div class="right-content layer pull-right">
    		<h2 class="section-title">Select Subjects</h2>

            <!-- Select Subjects Table -->
            <div class="select-subjects">
                <div class="row heading">
                    <span class="col col-1">#</span>
                    <span class="col col-2">Subject Code</span>
                    <span class="col col-3">Subject</span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        <i class="checkbox checkbox-primary">
                        <input type="checkbox" value='true' id='cust_checkbox_1' checked>
                        <label for="cust_checkbox_1"></label>
                        </i>
                    </span>
                    <span class="col col-2">HND5689</span>
                    <span class="col col-3">DITEC Subject 01</span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        <i class="checkbox checkbox-primary">
                        <input type="checkbox" value='true' id='cust_checkbox_2'>
                        <label for="cust_checkbox_2"></label>
                        </i>
                    </span>
                    <span class="col col-2">HND5689</span>
                    <span class="col col-3">DITEC Subject 01</span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        <i class="checkbox checkbox-primary">
                        <input type="checkbox" value='true' id='cust_checkbox_3'>
                        <label for="cust_checkbox_3"></label>
                        </i>
                    </span>
                    <span class="col col-2">HND5689</span>
                    <span class="col col-3">DITEC Subject 01</span>

                </div>
            </div>

    	</div><!-- // Right Content -->

        <div class="row pull-left course-inf-btns" style="margin-top:30px;">
            <button type="clear" class="mbutton button margin-right-10">Clear Fields</button>
            <button type="submit" class="mbutton button blue">Next Step</button>
        </div>


    </tab><!-- Tab -->



</tabset>
