<!-- Page content -->
<div class="page-content">

    <!-- Add Inquiries table -->
    <div class="add-inquiries">
        <div class="row">
            <label>
                <div class="col col-1">Branch</div>
                <div class="col col-2">
                    <select name="" class="form-control">
                        <option value="">Ambalangoda</option>
                        <option value="">Kandy</option>
                        <option value="">Colombo</option>
                    </select>
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">NIC</div>
                <div class="col col-2">
                    <input type="text" class="form-control" placeholder="891600909v">
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Title</div>
                <div class="col col-2">
                    <select name="" class="form-control">
                        <option value="">Mr.</option>
                        <option value="">Miss</option>
                        <option value="">Mrs.</option>
                    </select>
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Initials</div>
                <div class="col col-2">
                    <input type="text" class="form-control" placeholder="E.M.">
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Fisrt Name</div>
                <div class="col col-2">
                    <input type="text" class="form-control" placeholder="John">
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Last Name</div>
                <div class="col col-2">
                    <input type="text" class="form-control" placeholder="Cena">
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Mobile Number</div>
                <div class="col col-2">
                    <input type="text" class="form-control" placeholder="775522xxx">
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Course</div>
                <div class="col col-2">
                    <select name="" class="form-control">
                        <option value="">AL-ICT[REV]</option>
                    </select>
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Date</div>
                <div class="col col-2">
                    <input type="text" class="form-control" placeholder="2015-01-03">
                </div>
            </label>
        </div>

        <div class="row">
            <label>
                <div class="col col-1">Comment</div>
                <div class="col col-2">
                    <textarea name="" class="form-control"></textarea>
                </div>
            </label>
        </div>

        <div class="row margin-top-20-important">
            <label>
                <div class="col col-1">&nbsp;</div>
                <div class="col col-2">
                    <button class="button blue margin-right-10">Add Inquiry</button>
                    <button class="button">Cancel</button>
                </div>
            </label>
        </div>

    </div>
    <!-- // Add Inquiries table -->

</div>
<!-- // Page content -->
