<!-- Page content -->
        <div class="page-content">

          <!-- My Inquiries table -->
          <div class="table-responsive my-inquiries-table">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>Dates</th>
                        <th>Registration No #</th>
                        <th>Commission</th>
                        <th>Operator</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>2015-01-03</td>
                        <td>COL/A-0660</td>
                        <td>Rs. 1000/=</td>
                        <td>Kasun</td>
                    </tr>
                    <tr>
                        <td>2015-01-03</td>
                        <td>COL/A-0660</td>
                        <td>Rs. 8000/=</td>
                        <td>Kasun</td>
                    </tr>
                    <tr>
                        <td>2015-01-03</td>
                        <td>COL/A-0660</td>
                        <td>Rs. 2500/=</td>
                        <td>Kasun</td>
                    </tr>
                    <tr>
                        <td>2015-01-03</td>
                        <td>COL/A-0660</td>
                        <td>Rs. 500/=</td>
                        <td>Kasun</td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
          <!-- // My Inquiries table -->

        </div><!-- // Page content -->