<tabset class="course-registration">

	<!-- Tab -->
    <tab heading="Course Info">

    	<!-- Left Content -->
    	<div class="left-content layer pull-left">
    		<h2 class="section-title">Due Details</h2>

            <form accept-charset="utf-8" class="course-registration-form">
                <label>
                    <span>Registration No#</span>
                    <input type="text" name="" class="form-control" ng-model="regNumber" placeholder="KAN/B-06770">
                </label>

                <label>
                    <span>ID Number</span>
                    <input type="text" name="" class="form-control" ng-model="idNumber" placeholder="891600909V">
                </label>

                <label>
                    <span>Find your course</span>
                    <input type="text" name="" class="form-control" ng-model="course" placeholder="Higher National Diploma">
                </label>

                <label>
                    <span>Registration Type</span>
                    <input type="text" name="" class="form-control" ng-model="regType" placeholder="HNDIT">
                </label>

                <label>
                    <span>Select Batch</span>
                    <input type="text" name="" class="form-control" ng-model="batch" placeholder="HND-CL/05">
                </label>
            </form>

        </div><!-- // Left Content -->

    	<!-- Right Content --> 
    	<div class="right-content layer pull-right">
    		<h2 class="section-title">Select Subjects</h2>

            <!-- Select Subjects Table -->
            <div class="select-subjects">
                <div class="row heading">
                    <span class="col col-1">#</span>
                    <span class="col col-2">Subject Code</span>
                    <span class="col col-3">Subject</span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        <i class="checkbox checkbox-primary">
                        <input type="checkbox" value='true' id='cust_checkbox_1' checked>
                        <label for="cust_checkbox_1"></label>
                        </i>
                    </span>
                    <span class="col col-2">HND5689</span>
                    <span class="col col-3">DITEC Subject 01</span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        <i class="checkbox checkbox-primary">
                        <input type="checkbox" value='true' id='cust_checkbox_2'>
                        <label for="cust_checkbox_2"></label>
                        </i>
                    </span>
                    <span class="col col-2">HND5689</span>
                    <span class="col col-3">DITEC Subject 01</span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        <i class="checkbox checkbox-primary">
                        <input type="checkbox" value='true' id='cust_checkbox_3'>
                        <label for="cust_checkbox_3"></label>
                        </i>
                    </span>
                    <span class="col col-2">HND5689</span>
                    <span class="col col-3">DITEC Subject 01</span>

                </div>
            </div>

    	</div><!-- // Right Content -->

        <div class="row pull-left course-inf-btns" style="margin-top:30px;">
            <button type="clear" class="mbutton button margin-right-10">Clear Fields</button>
            <button type="submit" class="mbutton button blue">Next Step</button>
        </div>


    </tab><!-- Tab -->

    <tab heading="Fee Structure">

        <!-- Left Content -->
        <div class="left-content layer pull-left">
            <h2 class="section-title">Fee Structure</h2>

            <form accept-charset="utf-8" class="course-registration-form">
                <label>
                    <span>Fee Structure</span>
                    <input type="text" name="" class="form-control" ng-model="feeStructure" placeholder="Select your Fee Structure">
                </label>

                <label>
                    <span>Coupen Code</span>
                    <input type="text" name="" class="form-control" ng-model="coupen" placeholder="JAN1ST">
                </label>

                <label>
                    <span>Discount Plan</span>
                    <input type="text" name="" class="form-control" ng-model="discountPlan" placeholder="Higher Plan 1">
                </label>

                <label>
                    <span>Discount Comment</span>
                    <textarea class="form-control" ng-model="discountComment" placeholder="Higher Plan 1"></textarea>
                </label>

                <label>
                    <span>Registration Fee</span>
                    <i class="data">
                        <!-- <i class="checkbox checkbox-primary" style="width:auto;">
                            <input type="checkbox" value='true' id='cust_checkbox_7' checked>
                            <label for="cust_checkbox_7"></label>
                        </i> -->
                        <i class="label label-success uppercase margin-right-10">LKR</i> 15,000.00 

                    </i>
                </label>

                <label>
                    <span>Gross Fee</span>
                    <i class="data">
                        <i class="label label-success uppercase margin-right-10">LKR</i> 15,000.00
                    </i>
                </label>

                <label>
                    <span>Discount</span>
                    <i class="data">
                        <i class="label label-success uppercase margin-right-10">LKR</i> 5,000.00
                    </i>
                </label>

                <label>
                    <span>Net Course Fee</span>
                    <i class="data">
                        <i class="label label-success uppercase margin-right-10">LKR</i> 10,000.00
                    </i>
                </label>

            </form>

        </div><!-- // Left Content -->

        <!-- Right Content --> 
        <div class="right-content layer pull-right">
            <h2 class="section-title">Installments</h2>

            <!-- Select Subjects Table -->
            <div class="select-subjects installments">
                <div class="row heading">
                    <span class="col col-1">#</span>
                    <span class="col col-2">Amount</span>
                    <span class="col col-3">Due Date</span>
                    <span class="col col-4">Actions</span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        01
                    </span>
                    <span class="col col-2">5000.00</span>
                    <span class="col col-3">05 May 2015</span>
                    <span class="col col-4">
                        <i class="fa fa-plus-square-o"></i> &nbsp;&nbsp; <i class="fa fa-trash-o"></i>
                    </span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        01
                    </span>
                    <span class="col col-2">5000.00</span>
                    <span class="col col-3">05 May 2015</span>
                    <span class="col col-4">
                        <i class="fa fa-plus-square-o"></i> &nbsp;&nbsp; <i class="fa fa-trash-o"></i>
                    </span>
                </div>

                <div class="row">
                    <span class="col col-1">
                        01
                    </span>
                    <span class="col col-2">5000.00</span>
                    <span class="col col-3">05 May 2015</span>
                    <span class="col col-4">
                        <i class="fa fa-plus-square-o"></i> &nbsp;&nbsp; <i class="fa fa-trash-o"></i>
                    </span>
                </div>

                
            </div>

        </div><!-- // Right Content -->

        <div class="row pull-left course-inf-btns" style="margin-top:30px;">
            <button type="clear" class="mbutton button margin-right-10">Clear Fields</button>
            <button type="submit" class="mbutton button blue">Next Step</button>
        </div>
    </tab>

    <tab heading="Initial Payment">

        <!-- Left Content -->
        <div class="left-content layer pull-left">
            <h2 class="section-title">Due Details</h2>

            <form accept-charset="utf-8" class="course-registration-form">
                <label>
                    <span>Registration No#</span>
                    <input type="text" name="" class="form-control" ng-model="regNumber" placeholder="COL/A-0660">
                </label>

                <label>
                    <span>Name</span>
                    <i class="data i">Kasun Harshana Peiris</i>
                </label>

                <label>
                    <span>Payment Date</span>
                    <input type="text" name="" class="form-control" ng-model="paymentDate" placeholder="2nd Jan, 2015">
                </label>

                <label>
                    <span>Invoice No#</span>
                    <i class="data i">COL/A-0001/01/2015</i>
                </label>

                <label>
                    <span>Balance Due</span>
                    <i class="data">
                        <i class="label label-success uppercase margin-right-10">LKR</i> 15,000.00 

                    </i>
                </label>

                <label>
                    <span>Upto Date Due</span>
                    <i class="data">
                        <i class="label label-success uppercase margin-right-10">LKR</i> 3,000.00
                    </i>
                </label>
            </form>

            <div class="row pull-left course-inf-btns" style="margin-top:30px;">
                <button type="clear" class="mbutton button margin-right-10">Go Back</button>
                <button type="submit" class="mbutton button blue">Complete Registration</button>
            </div>

        </div><!-- // Left Content -->

        <!-- Right Content --> 
        <div class="right-content layer pull-right">
            <h2 class="section-title">Payment Plan</h2>

            <div class="tabbed-div pull-left width-full payment-plan">
                
                <!-- <ul class="navigation menu pull-left width-full">
                    <li class="button col-md-4 col-sm-4">Cash Payment</li>
                    <li class="button disabled col-md-4 col-sm-4">Credit / Debit Card</li>
                    <li class="button disabled col-md-4 col-sm-4 margin-right-0-important">Cheque Payment</li>
                </ul> -->

                <tabset>
                    <tab heading="Cash Payment">
                        <label class="pull-left width-full" style="font-weight:400;">
                            How much paying ?
                            <div class="input-group pull-left width-full margin-top-10">
                              <div class="input-group-btn open">
                                <button type="button" class="btn btn-default">LKR</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#"><i class="currency">LKR</i> Sri Lankan Rupees</a></li>

                                  <li><a href="#"><i class="currency">USD</i> United States Dollers</a></li>
                                </ul>
                              </div>
                              <input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                            </div>
                        </label>

                        <!-- Change Currency Rate -->
                        <div class="currency-rate pull-left width-full">
                            
                            <label class="col-md-6 col-sm-6 padding-left-0-important">
                                Currency Rate
                                <div class="input-group margin-top-10">
                                    <span class="input-group-btn">
                                        <i class="btn btn-default">USD</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="">
                                </div><!-- /input-group -->
                            </label>

                            <label class="col-md-6 col-sm-6 padding-right-0-important">
                                Updated Price
                                <div class="input-group margin-top-10">
                                    <span class="input-group-btn">
                                        <i class="btn btn-default">USD</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="">
                                </div><!-- /input-group -->
                            </label>
                        </div><!-- // Change Currency Rate -->

                    </tab>

                    <tab heading="Credit / Debit Card">
                        <label class="pull-left width-full" style="font-weight:400;">
                            How much paying ?
                            <div class="input-group pull-left width-full margin-top-10">
                              <div class="input-group-btn open">
                                <button type="button" class="btn btn-default">LKR</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#"><i class="currency">LKR</i> Sri Lankan Rupees</a></li>

                                  <li><a href="#"><i class="currency">USD</i> United States Dollers</a></li>
                                </ul>
                              </div>
                              <input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                            </div>
                        </label>

                        <!-- Change Currency Rate -->
                        <div class="currency-rate pull-left width-full">
                            
                            <label class="col-md-6 col-sm-6 padding-left-0-important">
                                Currency Rate
                                <div class="input-group margin-top-10">
                                    <span class="input-group-btn">
                                        <i class="btn btn-default">USD</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="">
                                </div><!-- /input-group -->
                            </label>

                            <label class="col-md-6 col-sm-6 padding-right-0-important">
                                Updated Price
                                <div class="input-group margin-top-10">
                                    <span class="input-group-btn">
                                        <i class="btn btn-default">USD</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="">
                                </div><!-- /input-group -->
                            </label>
                        </div><!-- // Change Currency Rate -->

                        <label class="pull-left width-full margin-top-20" style="font-weight:400;">
                            Card Holder Name
                            <input type="text" class="form-control margin-top-10">
                        </label>

                        <label class="pull-left width-full card-number margin-top-20" style="font-weight:400;">
                            <span class="pull-left width-full margin-bottom-10">Card Number</span>
                            <input type="text" class="form-control margin-top-10 col-md-3">
                            <input type="text" class="form-control margin-top-10 col-md-3">
                            <input type="text" class="form-control margin-top-10 col-md-3">
                            <input type="text" class="form-control margin-top-10 col-md-3">
                        </label>

                        <div class="control-group pull-left width-full margin-top-20">
                            <label class="control-label" style="font-weight:400;">Accepted Cards</label>
                            <div class="controls">
                                <div class="pull-left" id="Quickaccepted-cards-images">
                                    <!-- Icons Automatically Inserted Here -->
                                    <img id="card-visa392" src="http://systems.esoftholdings.com/images/visa.png" class="card-icons392" style="opacity: 1;">
                                    <img id="card-mastercard392" src="http://systems.esoftholdings.com/images/mastercard.png" class="card-icons392" style="opacity: 1;">
                                    <img id="card-amex392" src="http://systems.esoftholdings.com/images/amex.png" class="card-icons392" style="opacity: 1;">
                                    <img id="card-diners392" src="http://systems.esoftholdings.com/images/diners.png" class="card-icons392" style="opacity: 1;">
                                    <img id="card-discover392" src="http://systems.esoftholdings.com/images/discover.png" class="card-icons392" style="opacity: 1;">
                                    <img id="card-jcb392" src="http://systems.esoftholdings.com/images/jcb.png" class="card-icons392" style="opacity: 1;">
                                    <img id="card-maestro392" src="http://systems.esoftholdings.com/images/maestro.png" class="card-icons392" style="opacity: 1;">
                                </div>
                            </div>
                        </div>
                    </tab>

                    <tab heading="Cheque Payment">
                        <label class="pull-left width-full" style="font-weight:400;">
                            How much paying ?
                            <div class="input-group pull-left width-full margin-top-10">
                              <div class="input-group-btn open">
                                <button type="button" class="btn btn-default">LKR</button>
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                  <span class="caret"></span>
                                  <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                  <li><a href="#"><i class="currency">LKR</i> Sri Lankan Rupees</a></li>

                                  <li><a href="#"><i class="currency">USD</i> United States Dollers</a></li>
                                </ul>
                              </div>
                              <input type="text" class="form-control" aria-label="Text input with segmented button dropdown">
                            </div>
                        </label>

                        <!-- Change Currency Rate -->
                        <div class="currency-rate pull-left width-full">
                            
                            <label class="col-md-6 col-sm-6 padding-left-0-important">
                                Currency Rate
                                <div class="input-group margin-top-10">
                                    <span class="input-group-btn">
                                        <i class="btn btn-default">USD</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="">
                                </div><!-- /input-group -->
                            </label>

                            <label class="col-md-6 col-sm-6 padding-right-0-important">
                                Updated Price
                                <div class="input-group margin-top-10">
                                    <span class="input-group-btn">
                                        <i class="btn btn-default">USD</i>
                                    </span>
                                    <input type="text" class="form-control" placeholder="">
                                </div><!-- /input-group -->
                            </label>
                        </div><!-- // Change Currency Rate -->

                        <label class="pull-left width-full margin-top-20" style="font-weight:400;">
                            Add your cheque number
                            <input type="text" class="form-control margin-top-10">
                        </label>

                        <label class="pull-left padding-left-0-important col-md-6 margin-top-20" style="font-weight:400;">
                            Cheque issued bank name
                            <input type="text" class="form-control margin-top-10">
                        </label>

                        <label class="pull-left  padding-right-0-important col-md-6 margin-top-20" style="font-weight:400;">
                            Cheque due date
                            <input type="text" class="form-control margin-top-10">
                        </label>
                    </tab>
                    
                </tabset>

            </div>

        </div><!-- // Right Content -->

    </tab>

    <!-- <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
      {{tab.content}}
    </tab>

    <tab>
      <tab-heading>
        <i class="glyphicon glyphicon-bell"></i> Alert!
      </tab-heading>
      I've got an HTML heading, and a select callback. Pretty cool!
    </tab> -->

</tabset>