<!-- Search box -->
<div class="search-box">
    <input type="search" placeholder="Find student information" spellcheck="false">

    <ul class="search-addons">
        <li class="datepick">
            <span class="ico" data-toggle="tooltip" data-placement="top" title="Select Date Range" tooltip><i class="fa fa-calendar"></i></span>
            <div class="dateDrop drop display-none">
                <label for="">Select Date Range</label>
                <div class="input-daterange" id="datepicker">
                    <input type="text" class="input-small" name="start" />
                    <span class="add-on">to</span>
                    <input type="text" class="input-small" name="end" />
                </div>
            </div>
        </li>
        <li class="course">
            <span class="ico" data-toggle="tooltip" data-placement="top" title="Select Course" tooltip><i class="fa fa-file"></i></span>
            <div class="selectDrop drop display-none">
                <select name="" multiple>
                    <option value="">Course 1</option>
                    <option value="">Course 2</option>
                    <option value="">Course 3</option>
                    <option value="">Course 4</option>
                    <option value="">Course 5</option>
                    <option value="">Course 6</option>
                    <option value="">Course 7</option>
                    <option value="">Course 8</option>
                </select>
            </div>
        </li>
        <li class="receptionist">
            <span class="ico" data-toggle="tooltip" data-placement="top" title="Select operator" tooltip><i class="fa fa-user"></i></span>
            <div class="selectDrop drop display-none">
                <select name="" multiple>
                    <option value="">Operator 1</option>
                    <option value="">Operator 2</option>
                    <option value="">Operator 3</option>
                    <option value="">Operator 4</option>
                    <option value="">Operator 5</option>
                    <option value="">Operator 6</option>
                    <option value="">Operator 7</option>
                    <option value="">Operator 8</option>
                </select>
            </div>
        </li>
    </ul>

    <button type="submit" class="submit button blue mbutton"><i class="fa fa-search"></i>
    </button>

    <p class="infoHint"><i class="fa fa-warning"></i> To get best search results, use advanced search options.</p>
</div>
<!-- // Search box -->
