<!-- Student Full Registration Form -->
<section class="student-full-reg content-wrap">

    <form action="" method="post" accept-charset="utf-8">

        <!-- Full Reg Form -->
        <div class="full-reg">

            <div class="col col-1 active">

                <!-- Top -->
                <div class="top"><i class="step-no">1</i>
                </div>
                <!-- // Top -->

                <!-- bottom -->
                <div class="bottom">

                    <!-- Title -->
                    <h2>Basic Information</h2>
                    <!-- // Title -->

                    <span class="rowT"><input type="text" class="form-control" placeholder="Date"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="ID Type"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="ID Number"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Title"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="First Name"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Last Name"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Gender"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Date of Birth"></span>
                </div>
                <!-- // bottom -->

            </div>

            <div class="col col-2">

                <!-- Top -->
                <div class="top"><i class="step-no">2</i>
                </div>
                <!-- // Top -->

                <!-- bottom -->
                <div class="bottom">

                    <!-- Title -->
                    <h2>Address</h2>
                    <!-- // Title -->

                    <span class="rowT"><input type="text" class="form-control" placeholder="House No"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Lane"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Town"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="City"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Country"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Postal Code"></span>
                </div>
                <!-- // bottom -->

            </div>

            <div class="col col-3">

                <!-- Top -->
                <div class="top"><i class="step-no">3</i>
                </div>
                <!-- // Top -->

                <!-- bottom -->
                <div class="bottom">

                    <!-- Title -->
                    <h2>Contact Details</h2>
                    <!-- // Title -->

                    <span class="rowT"><input type="text" class="form-control" placeholder="Phone Home"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Phone Work"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Mobile"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="E-mail personal"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Email-Work"></span>
                </div>
                <!-- // bottom -->

            </div>

            <div class="col col-4">

                <!-- Top -->
                <div class="top"><i class="step-no">4</i>
                </div>
                <!-- // Top -->

                <!-- bottom -->
                <div class="bottom">
                
                    <!-- Title -->
                    <h2>Parents Details</h2>
                    <!-- // Title -->

                    <span class="rowT"><input type="text" class="form-control" placeholder="Parent ID"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Parent Name"></span>
                    <span class="rowT"><input type="text" class="form-control" placeholder="Parent Contact No#"></span>
                </div>
                <!-- // bottom -->

            </div>

        </div>
        <!-- // Full Reg Form -->

        <!-- Buttons -->
        <div class="buttons margin-top-20 pull-left width-full text-right">
            <button class="button mbutton margin-right-10" type="reset">Clear</button>
            <button class="button mbutton blue" ng-click="clickToOpen()">Next</button>
        </div>
        <!-- // Buttons -->

    </form>
</section>
<!-- // Student Full Registration Form -->
