<!-- Student Quick Registration Form -->
<section class="student-quick-reg content-wrap">
    <form action="" method="post" accept-charset="utf-8">

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>Date</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>ID Type</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>ID Number</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>Title</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>First Name</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>Last Name</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>Gender</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>Date of Birth</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row">
            <div class="col col-1">
                <label>
                    <span>Mobile</span>
                    <input type="text" name="" value="" class="form-control">
                </label>
            </div>
        </div>

        <div class="row margin-top-20">
            <div class="col col-1 margin-top-20">
                <label>
                    <button type="clear" class="mbutton button margin-right-10">Clear Fields</button>
                    <button type="submit" class="mbutton button blue">Add Registration</button>
                </label>
            </div>
        </div>

    </form>
</section>
<!-- // Student Quick Registration Form -->
